/* IN */
.fade-in {
    -webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-cus {
    -webkit-animation: fade-in-cus 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-cus 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* OUT */
.fade-out {
    -webkit-animation: fade-out 0.5s ease-out both;
    animation: fade-out 0.5s ease-out both;
}

.fade-out-cus {
    -webkit-animation: fade-out 0.2s ease-out both;
    animation: fade-out 0.2s ease-out both;
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


/* KEY FRAMES!!*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-cus {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes slide-up-text{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(-30px);
    }
}