@import "reset.css";
@import "loading.css";
@import "animations.css";
@import "background.css";
@import "fonts.css";



/* defualt */
.hidden {
    display: none;
}

.checked{
    text-decoration: line-through;
    color: lightgray;
}


/* ------------------섹션 전체---------------------- */
.wrap{
    width: 100vw;
    height: 100vh;
    font-family: 'Exo',
    sans-serif;
}
.section{
    width: 100%;
}
input{
    text-align: center;
}
/* ------------------섹션 전체 끝---------------------- */


/* ------------------지역 및 날씨 & 로그인 성공 시 아아디 및 로그아웃 버튼 출력---------------------- */
.section1 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-sizing: border-box;
    color: white;
    font-family: 'Inconsolata',
    monospace;
    margin-bottom: 25vh;
    /* background-color: aliceblue; */
}
.weather{
    font-style: italic;
    font-weight: 100;
    text-align: end;
    opacity: 70%;
}

.greeting-box {
    display: flex;
    font-family: 'Noto Sans KR',
    sans-serif;
    font-size: 20px;
}
.greeting-box input {
    color: white;
    cursor: pointer;
}
.logout{
    height: 20px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    background-color: transparent;
    color: black;
    font-family: 'Inconsolata',
    monospace;
}
/* ------------------지역 및 날씨 끝---------------------- */


/* ------------------시간---------------------- */
.section2 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Bodoni', serif;
    font-size: 500px;
    margin-bottom: 50px;
}

.clock {
    font-size: 150px;
    color: white;
}
/* ------------------시간 끝---------------------- */


/* ------------------로그인---------------------- */
.section3 {
    /* height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.login-form {
    text-align: center;
}

.login-name{
    width: 200px;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Noto Sans KR',
    sans-serif;
}
.login-name::placeholder{
    color: white;
}
.login-name:focus{
    color: white;
}
.login-name:focus::placeholder{
    color: transparent;
}

/* ------------------로그인끝---------------------- */


/* ------------------투두리스트---------------------- */
.section4 {
    display: none;
    height: 40vh;
    justify-content: start;
    align-items:center;
    flex-direction: column;
}

.todo-title{
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 20px;
}

.todo-form{
    text-align: center;
    margin-bottom: 20px;
}
.todo-input{
    width: 200px;
    border: 0;
    border-bottom: 1px solid whitesmoke;
    outline: 0;
    background-color: transparent;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR',
    sans-serif;
}
.todo-input::placeholder {
    color: whitesmoke;
}

.todo-input:focus {
    color: white;
}

.todo-input:focus::placeholder {
    color: transparent;
}



.todo-list {
    text-align: center;
}

.todo-list li{
    margin-bottom: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Noto Sans KR',
    sans-serif;
}
.delete-button{
    border: 0;
    outline: 0;
    background-color: transparent;
    padding-left: 10px;
}

/* ------------------투두리스트 끝---------------------- */


/* ------------------명언---------------------- */
.section5 {
    position: absolute;
    bottom: 50px;
    font-family: 'Inconsolata',
    monospace;
}

.quote {
    text-align: center;
    color: whitesmoke;

}

.quote span:last-child {
    opacity: 60%;
}


/* ------------------명언 끝---------------------- */




